<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/404.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
</head>

<body>
  <div id="main">
    <div class="fof">
      <h1>PAGE NOT FOUND</h1>
      <p><a href="/">⬅️ GO BACK HOME</a></p>
    </div>
  </div>
</body>

</html>