<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
  <!-- Navigation Partial -->
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (error.length) { %>
    <div class="user-message user-message--error"><%= error %></div>
    <% } %>
    <form class="login-form" action="/auth/login" method="POST">
      <div class="form-control">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" required />
      </div>

      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>


      <button type="submit" class="btn">Login</button>
    </form>
    <div class="centered">
      <a href="/auth/reset">Forgot password?</a>
    </div>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>