<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/product.css">
</head>

<body>
  <!-- Navigation Partial -->
  <%- include('../includes/navigation.ejs') %>

  <main>
    <h1>Cart</h1>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>