<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/product.css">
</head>

<body>
  <!-- Navigation Partial -->
  <%- include('../includes/navigation.ejs') %>

  <main>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate facere totam autem est, nisi repudiandae
      quibusdam tempore iusto, eos, placeat quaerat. Ex ea aspernatur temporibus repellat debitis dicta quod provident?
      Rem, dignissimos officiis a hic veniam et. Rem doloremque enim reiciendis sit incidunt, officia cupiditate quod
      impedit eveniet ipsam ducimus nesciunt voluptates cumque officiis odit dignissimos? Culpa distinctio reiciendis
      placeat?
      Sunt vero nemo debitis ratione qui adipisci necessitatibus molestias, molestiae earum, tenetur eos, fugit eius
      suscipit accusantium. Fuga, officia recusandae dolor odio quaerat, quas culpa fugiat ipsa eveniet nulla enim.
      Necessitatibus beatae officiis sint illo aliquam minima iusto expedita alias accusamus perspiciatis rem optio
      quibusdam fuga cumque, repellendus unde laborum eligendi eum quasi vero porro ducimus perferendis, quisquam qui.
      Ad.
      Laudantium quae corrupti aliquam facilis natus iste voluptates beatae id molestiae. Illo possimus a, facilis quia
      consequatur, explicabo optio ipsa corporis soluta ipsam unde! Enim laudantium ipsa modi necessitatibus laboriosam!
    </p>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>