<!-- Head Partial -->
<%- include('includes/head.ejs') %>

<!-- Nav Partial -->
<%- include('includes/nav.ejs') %>

<h1>404 Page Not Found</h1>

<!-- End Partial -->
<%- include('includes/end.ejs') %>