<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<meta http-equiv="refresh" content="1;URL='<%= url %>'" />

</head>

<body>
  <main>
    <h1 class="centered">Success, redirecting you to your orders...</h1>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>